@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");
/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  font-family: "Poppins", serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  -webkit-box-shadow: 0 8px 6px -6px gray;
}
.nav-link {
  font-weight: 300;
}

.active {
  border-bottom: 1px solid black;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}
.product-link {
  text-decoration: none !important;
  color: black !important;
}
